

singularity {
	//the following two lines allow this workflow to be run with a singularity image containing the
	//required execution environment.  This is equivalent to adding --with-singularity /path/to/image.img on
	//the command line.
	enabled = true
	runOptions="--bind /labs/"
}

process.container = 'shub://bhattlab/wits_workshop:classification'

profiles{
	scg{
		process{
			executor= 'slurm' //use the slurm job scheduler for all processes
			withName: collect_results {executor='local'} //...unless it's named 'collect_results'
			withName: barplot {executor='local'} //...or 'barplot'
		  queue = { task.memory > 100.GB ? 'nih_s10' : 'batch' } //if more than 100gb ram are requested, shift to the nih_s10 queue
			clusterOptions= '--account asbhatt' //use the bhatt sge account
		}
	}

}
